.lead__main-illustrator {
  display: block;
  margin: 64px auto 8px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
	.lead__main-illustrator {
    margin: 56px auto 8px;
	}
}

@media screen and (max-width: 320px) {
	.lead__main-illustrator {
    margin: 40px auto 8px;
	}
}
