.gallery__items {
  margin: 0 auto;
  max-width: 92.5%;
  width: 100%;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1024px) {
	.gallery__items {
		max-width: 90.6%;
		gap: 14px;
	}
}

@media screen and (max-width: 768px) {
	.gallery__items {
		max-width: 93.8%;
		gap: 16px;
	}
}

@media screen and (max-width: 425px) {
	.gallery__items {
		max-width: 90%;
		gap: 12px;
	}
}

