.lead__subtitle {
  margin: 0 auto;
  font-size: 30px;
  line-height: 1.2;
  padding-top: 32px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: 640px;
    padding-top: 33px;
  }
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * (100vw - 320px) / (700 - 320));
    line-height: 1.1;
    max-width: 450px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    padding: 16px 16px 0;

  }
}
