.lead__subtitle {
  margin: 0 auto;
  font-size: 30px;
  line-height: 1.2;
  padding-top: 32px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: 640px;
    padding-top: 33px;
  }
}

@media screen and (max-width: 320px) {
	.lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 0 0;

	}
}
