.cover__background {
  background-image: url(../images/train-sets.jpg);
  background-size: cover;
  position: absolute;
  max-height: 740px;
  width: auto;
  top: 0;
  left: 0;
  object-fit: cover;
  padding-bottom: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
